.header {
    border-bottom: 1px solid $clr1;

    .main-header {
        display: flex;
        align-items: center;
        height: 50px;
        flex: 1;
        width: $width-100;


        a.logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 3;
            font-weight: 700;
            font-size: 2.125rem;

            .logo-icon {
                margin-right: 0.313rem;
            }

            .logo-todo {
                color: $clr3;
                padding-bottom: 0.2rem;
            }

            .logo-app {
                color: $clr4;
                padding-bottom: 0.2rem;

            }

        }

        .navbar {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            font-size: 1.1rem;
            font-weight: 600;
            height: 100%;


            span {
                color: $clr3;
            }

            .btn-navbar {
                background-color: $clr5;
                border: none;
                border-radius: 0.25rem;
                padding: 0.6rem 1.125rem 0.6rem 1.125rem;
                font-size: 0.93rem;
                font-weight: 500;
                line-height: 1;
                cursor: pointer;
                transition: all ease-in-out 0.3s;
                margin: 0 0 0 1.7rem;

                &:hover {
                    background-color: $clr6;
                    color: $clr7;
                }
            }
        }
    }

    @include for-narrow-mobile-layout {
        @include appHeader($padding-mobile, $flex-grow-2, $flex-grow-1)
    }
    
    @include for-mobile-layout {
        @include appHeader($padding-mobile, $flex-grow-1, $flex-grow-2)
    }
    
    @include for-mid-layout {
        @include appHeader($padding-mobile, $flex-grow-2, $flex-grow-1)
    }
    
    @include for-narrow-layout {
        @include appHeader($padding-mobile, $flex-grow-1, $flex-grow-2)
        
    }
    
    @include for-normal-layout {
        @include appHeader($padding-mobile, $flex-grow-2, $flex-grow-1)
    }
    
    @include for-wide-layout {
        @include appHeader($padding-mobile, $flex-grow-2, $flex-grow-1)
    }
    
}


