.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: relative;
    background-color: $clr1;
    color: $clr2;


    &span{
        position: absolute;
        bottom: 0;
    }
}