.todo-list{
    padding-top: 10px;
    max-height: 100%;

    .todo-list-container{
        overflow-y:auto;
        height: calc(100vh - 605px);
    }

    .todo-list-container::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    
    .todo-list-container::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #808080;
    }
}

