.todo-edit {
    display: flex;
    margin-top: 1.25rem;

    input {
        border: 1px solid #f3efef;
        width: 90%;
        height: 2.5rem;
        border-radius: 0.5rem 0 0 0.5rem;
        padding: 0 0.5rem;
        font-size: 1.1rem;
    }

    [type=text] {
        padding: 1em 1em 1.2em 1.1em;
    }

    button {
        border: none;
        cursor: pointer;
        height: 2.5rem;
        flex: 1;
        border-radius: 0 0.5rem 0.5rem 0;
        background-color: $clr3;
        color: #fff;
        font-size: 0.938rem;

    }
}