.todo-preview {
    transform: translate3d(0, 0, 0);
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0.5rem;
    width: $width-100;
    border-bottom: 0.5px solid rgb(243, 240, 240);
    font-size: 1rem;
    background-color: $clr5;
    margin-bottom: 5px;
    border-radius: 8px;
    color: $clr2;


    .buttons-container {
        display: flex;
        justify-content: center;
    }

    *>button,
    a {
        background-color: #d2edff;
        border: none;
        border-radius: 0.25rem;
        padding: 0.6rem 1.125rem 0.75rem 1.125rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        margin-left: 0.938rem;
        text-decoration: none;
        color: $clr2;

        img {
            width: 1.875rem;
        }
    }

    .details {
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
            background-color: $clr3;
            color: $clr7;
        }
    }

    .edit {
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
            background-color: $clr4;
            color: $clr7;
        }
    }

    .btn-remove {
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
            background-color: $clr6;
            color: $clr7;
        }
    }


    @include for-narrow-mobile-layout {
        @include todoPreview($background-image-1, $background-image-2, $background-image-3, $display-none, $background-color-transparent)
    }

    @include for-mobile-layout {
        @include todoPreview($background-image-1, $background-image-2, $background-image-3, $display-none, $background-color-transparent)
    }

    @include for-mid-layout {
        @include todoPreview($background-image-1, $background-image-2, $background-image-3, $display-none, $background-color-transparent)
    }

    @include for-narrow-layout {
        @include todoPreview($background-image-none, $background-image-none, $background-image-none, $display-block, $button-background-color)
    }

    @include for-normal-layout {
        @include todoPreview($background-image-none, $background-image-none, $background-image-none, $display-block, $button-background-color)
    }

    @include for-wide-layout {
        @include todoPreview($background-image-none, $background-image-none, $background-image-none, $display-block, $button-background-color)
    }

}