.todo-details {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 18px 0;
    height: calc(100vh - 95px);
    width: 100%;
    color: $clr2;

    .details-container {

        display: flex;
        align-items: center;
        justify-content: center;

        .details-img {

            img {
                margin-right: 1.5rem;
                width: 12.5rem;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            min-height: 142px;
            margin-left: 0;

            span:first-child {
                font-weight: 700;
            }
        }

        .weather {
            display: flex;
            flex-direction: column;
        }

    }


    button {
        cursor: pointer;
        border: none;
        width: 80px;
        margin-top: 18px;
        border-radius: 5px;
        background-color: #009bd9;
        padding: 10px 18px 12px 18px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
        transition: all ease-in-out 0.3s;
        color: $clr7;


        &:hover {
            background-color: $clr4;
        }
    }


    @include for-narrow-mobile-layout {
        @include todolistDetails($details-margin-left-rigth, $flex-direction-column, $details-image-width-small)
    }

    @include for-mobile-layout {
        @include todolistDetails($details-margin-left-rigth, $flex-direction-column, $details-image-width-small)
    }

    @include for-mid-layout {
        @include todolistDetails($details-margin-left-rigth, $flex-direction-column, $details-image-width-small)
    }

    @include for-narrow-layout {
        @include todolistDetails($details-image-margin-left, $flex-direction-row, $details-image-width-medium)
    }

    @include for-normal-layout {
        @include todolistDetails($details-container-no-margin, $flex-direction-row, $details-image-width-large)
    }

    @include for-wide-layout {
        @include todolistDetails($details-container-no-margin, $flex-direction-row, $details-image-width-large)
    }

}