.todo-app {
    height: calc(100vh - 95px);

    .todo-app-container {

        display: flex;
        flex-direction: column;
        max-height: 100%;
    }
}

@include for-narrow-mobile-layout {
    @include todoApp($padding-mobile)

}

@include for-mobile-layout {
    @include todoApp($padding-mobile)

}

@include for-mid-layout {
    @include todoApp($padding-mobile)
}

@include for-narrow-layout {
    @include todoApp($padding-mobile)
 
 }

 @include for-normal-layout {
    @include todoApp($no-padding)

}

@include for-wide-layout {
    @include todoApp($no-padding)
}
